*{

	
}

.main{
	display: flex;

}
.item_red{
	border: 3px soild black;
	padding: 10px;
	
	background-color: red;
}
.item_blue{
	border: 3px soild black;

	padding: 10px;
	
	background-color: black;
}
