*{
	padding:5px;
}

.main{
	display: flex;

}
.item_red{
	border: 3px soild black;
	border-radius: 3px;
	padding: 10px;
	margin:2px;
	background-color: red;
}
.item_blue{
	border: 3px soild black;
	border-radius: 3px;
	padding: 10px;
	margin:2px;
	background-color: black;
}
