*{
    padding:2px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

a:hover{
    background-color: black;
    color:white;
    padding:8px;
    border-radius: 2px solid black;
    border-radius: 3px;
}

nav{
    text-align: right;
}
hr{
    
    background-color: black;
    border: none;
}
.animation{
    text-align: center;
}