*{
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}

.nav{
    display: flex;
    flex-direction:row;
}
.navli{
    padding: 20px;
    text-align: end;
    list-style: none;
}
.body{
    
    margin-left: 10%;
    margin-right: 10%;
}